.grid__section {
    display: grid;
    padding: 1rem 3rem;
}

@media screen and (min-width: 460px) {
    .grid__section{
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 780px) {
    .grid__section{
    grid-template-columns: repeat(3, 1fr);
    }
}