
.splide__arrow--prev::before {
    content: '';
    position: absolute;
    left: 1.8rem;
    width: 20px;
    height: 3px;
    transform: rotate(45deg) translate(.5rem) scale(.8);
    background: rgb(255, 255, 255);
}

.splide__arrow--prev::after {
    content: '';
    position: absolute;
    left: 1.8rem;
    width: 20px;
    height: 3px;
    transform: rotate(-45deg) translate(.5rem) scale(.8);
    background: rgb(255, 255, 255);
}

.splide__arrow--next::before {
    content: '';
    position: absolute;
    left: -.6rem;
    width: 20px;
    height: 3px;
    transform: rotate(45deg) translate(-.5rem) scale(.8);
    background: rgb(255, 255, 255);
}

.splide__arrow--next::after {
    content: '';
    position: absolute;
    left: -.6rem;
    width: 20px;
    height: 3px;
    transform: rotate(-45deg) translate(-.5rem) scale(.8);
    background: rgb(255, 255, 255);
}

/* #splide01 > div > ul > li > button {
    background: rgb(47, 206, 47);
} */