.flex__Footer {
    background: #252830;
}

.footer__grid {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width: 460px) {
    .footer__grid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 460px) {
    .flex__Footer {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .flex__Footer {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .flex__Footer {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(6, 1fr);
    }
}